{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block import %}
  <link href="{{ url_for('static',filename='css/dist/googleapi_lato.css') }}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/leaflet.css') }}"/>
<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/maincss.css') }}" />-->
  <script src="{{ url_for('static',filename='js/dist/leaflet.js') }}" ></script>
  <script src="{{ url_for('static',filename='js/dist/d3.v3.js') }}"></script>
  <script src="{{ url_for('static',filename='js/dist/plotly-latest.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/vis3.js') }}"></script>
  <script src="{{ url_for('static',filename='js/vis4.js') }}"></script>
  <script src="{{ url_for('static',filename='js/giant-wheel.js') }}"></script>
  <script src="{{ url_for('static',filename='js/dimension.js') }}"></script>
{% endblock %}

{% block active_index %}
active
{% endblock %}

{% block content1 %}
  <!-- Container (Services Section) -->
  <div class="container-fluid text-center">
    <h4>Dataset :  '{{ datasetPath }}'</h4>
    <h4> Starting Dimension</h4>
    <button id="gobutton"> GO</button>
    <button id="resetButton"> Reset Image </button>
    <div>Show Grid? <input type="radio" value="yes" name="grid">yes
      <input type="radio" value="no" name="grid">no</div>
    <div id="dimlist2">
    </div>
    <div id="filterlist">
    </div>
    <br>
    <div class="row text-left" style="text-align:right display:inline;" >
      <!--<select id='changeImgType'>
        <option value="heidi"> Heidi Image</option>
        <option value="composite">Composite Image</option>
        <option value="closed">Closed Image</option>
      </select>-->
    </div>
    <br/>
    <div class="row text-left" style="text-align:right display:inline;" >
      Analyze patterns grid wise ? <input type="radio" value="yes" name="ptype">yes
      <input type="radio" value="no" name="ptype">no
    </div>
    <div class="row text-left" style="text-align:right display:inline;" >
      KNN <input type="text" value="" name="knn" id="knn">
    </div>
    <div class="row" align="right" style="text-align:right display:inline;" >
    <form action={{ url_for('heidicontrollers.pattern_dashboard') }}>
    <input type="hidden" name="datasetName" value="{{datasetPath}}"></input>
    <button type="submit" align="right" class="btn" >Pattern Dashboard</button>
    </form>
    <form action={{ url_for('heidicontrollers.analyticsReport') }}>
    <input type="hidden" name="datasetName" value="{{datasetPath}}"></input>
    <button type="submit" align="right" class="btn" >Analytics Report</button>
    </form>
    </div>
    <!--<div class="row text-right" style="text-align:right display:inline;" >
      <button id="dashboard">Subspace Dashboard </button>
    </div>-->
    <div class="alert_msg" style="display: none;">
      <div class="alert alert-danger alert-dismissible" role="alert" >
      <strong>ERROR!!</strong><p class="error_msg"></p>
    </div>

    </div>

    <br/>
    <div id="loading"></div>
    <div class="row">
      <div class="col-md-2">
        <h6> ADD DIMENSION</h6>
        <div id="dimlist" class="checkbox">
        </div>
      </div>
      <div class="col-md-10">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Heidi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Closed heidi</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-5">
            <div id='parent' style="width: 500px; height: 400px;"></div>
          </div>
          <div class="col-md-5">
            <div id='parent2' style="width: 500px; height: 400px;"></div>
          </div>
          <div class="col-md-2">
            <div id="legend" style="overflow:scroll; height:400px;"></div>
          </div>
        </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
      <div class="col-md-5">
        <div id='parent3' style="width: 500px; height: 400px;"></div>
      </div>
      <div class="col-md-5">
        <div id='parent4' style="width: 500px; height: 400px;"></div>
      </div>
      <div class="col-md-2">
        <div id="legend2" style="overflow:scroll; height:400px;"></div>
      </div>
    </div>
  </div>
</div>
</div>
    



<!--<div class="col-sm-2">
      <div id="subspace" style="overflow:scroll; height:400px;"></div>
    </div>-->
    <div class="col-sm-6">
      col points
      <div id="table2" style="overflow:scroll; height:400px;"></div>
    </div>
    <div class="col-sm-6">
      row points
      <div id="table3" style="overflow:scroll; height:400px;"></div>
    </div>
    <div class="col-sm-6">
      <div id="windrose"></div>
    </div>
    <div class="col-sm-6">
    <div id="crovhd"></div>
      <!--<div id="graph1"></div>-->
    </div>
    <div class="col-sm-4">
      <div id="graph2"></div>
    </div>
    <div class="col-sm-12">
        <div id='pointsPlots'></div>
        <div id='hoverinfo'></div>
      </div>
      <div class="col-sm-6">
        <div id='parallelPlot'></div>
      </div>


    </div>

  </div>
{% endblock %}  

{% block jsimport %}
  <script>
    dynamicallyLoadSelectList('#filterlist', '#dimlist', '#dimlist2');
    //$('#dimlist2').on('click', 'input[name=order_dim]:radio',updateImage);
    //$('#dimlist').on('click', 'input[class=dim]:checkbox',updateImage);
    $('#gobutton').on('click', updateImage);
    $('#legend').on('click', 'td.backgroundcolor', function() {
      var color_val=$(this).attr('bgcolor');
      colorFilter('mapid','mapid2','parent','parent2',color_val,'heidi');
    });
    $('#legend2').on('click', 'td.backgroundcolor', function() {
      var color_val=$(this).attr('bgcolor');
      colorFilter('mapid3','mapid4','parent3','parent4',color_val,'closed');
    });
    $('#resetButton').on('click', resetImage);
    $('#tree').on('click', uploadTree);
    
    //$('#changeImgType').on('change',changeImgType);
    //$('#dashboard').on('click',)


    //$('.dim').click(updateImage);
    //$('.order_dim').click(updateImage);
  </script>
{% endblock %}
</body>

</html>
